page-mapmodal {
    .map-wrapper{
        height: 100%;
        overflow-y: hidden;
    }
    .map-home{
        width: 100%;
        height: calc(100% + 20px);
    }

    .toolbar-title-md{
        padding-left: 0;
        padding-right: 20px;
    }

    .bar-button-default{
        color: white;
    }

    .confirm-button{
        width: 150px;
        height: 49px;
        border-radius: 4px;
        background-color: #0080ff;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        position: absolute;
        bottom: 15px;
        right: calc(50% - 75px )
    }

    .activated {
        background-color: #0080ff; 
    }
}
