<ion-header>
    <ion-navbar >
        <ion-buttons left>
            <button ion-button icon-only (click)="backModal()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
      <ion-title>Mapa</ion-title>
    </ion-navbar>
  </ion-header>
    
  <ion-content>
    <div class="map-wrapper">
      <agm-map [latitude]="lat" [longitude]="lng" class="map-home"  [zoomControl]="true" [zoom]="14" [styles]="customStyle" [streetViewControl]="false" (mapClick)="mapClicked($event)">
        <agm-marker [latitude]="latMarker" [longitude]="lngMarker" [markerDraggable]="false"></agm-marker>
      </agm-map>  
      <button (click)="closeModal()" class="confirm-button">Confirmar</button>
    </div>
  </ion-content>   