<ion-content>
  <img class="login-logo" src="assets/imgs/nabia-cmbraga-apps-logo.png" />
  <div class="login-title">
      Bem vindo
  </div>
  <div class="login-subtitle">
    Insira os seus dados para avançar
  </div>

  <form [formGroup]="login" role="form" (ngSubmit)="submitForm($event, login.value)" *ngIf="!loginFailedCover && !facebookLogin">
    <div class="form-group">
      <ion-label class="input-label">EMAIL<span class="text-danger" *ngIf="(login.controls['email'].hasError('required') && (login.controls['email'].dirty || login.controls['email'].touched)) || (login.controls['email'].hasError('email') && (login.controls['email'].dirty || login.controls['email'].touched))">*</span></ion-label>
      <ion-input type="email" class="form-control input-area" placeholder="Inserir email..." formControlName="email" role="form" novalidate=""></ion-input>
    </div>
    <div class="form-group">
      <ion-label class="input-label">PASSWORD<span class="text-danger" *ngIf="login.controls['password'].hasError('required') && (login.controls['password'].dirty || login.controls['password'].touched)">*</span></ion-label>
      <ion-input type="password" class="form-control input-area" placeholder="Inserir password..." formControlName="password" role="form" novalidate=""></ion-input>
    </div>
    <button class="submit-button" type="submit" [disabled]="!login.valid">Iniciar sessão</button>
  </form>
  <div class="default-text" style="cursor: pointer;" (click)="recoverPassword()">Esqueceu-se da password?</div>
  <div class="cover" *ngIf="loginFailedCover">
    <div class="cover-elements-wrapper">
      <img class="cover-icon" src="assets/imgs/error.png" />
      <div class="cover-title">Login falhou</div>
      <div class="cover-subtitle">Por favor verifique as suas credênciais e tente novamente</div>
      <button class="cover-button" type="button" (click)="dismissCover()">Ok</button>      
    </div>
  </div>
</ion-content>
