page-login {
    text-align: center;
    & .content{
            background: #f8f8f8;
    }

    & .login-logo{
        margin-top: 10px;
        margin-bottom: 30px;
    }

    & .login-title{
        font-family: Roboto;
        font-size: 20px;
        text-align: center;
        color: #151517;
        margin-bottom: 10px;
    }

    & .login-subtitle{
        font-family: Roboto;
        font-size: 16px;
        text-align: center;
        color: #a9a9a9;
        margin-bottom: 60px;
    }


    & .form-group{
        background-color: white;
        ion-label{
            padding-top: 15px;
            padding-left: 20px;
            margin-top: 0;
            margin-bottom: 0;
        }

        & .text-input{
            margin-left: 20px !important;
            width: calc(100% - 20px - 8px);
        }

        text-align: left;
        box-shadow: inset 0 -1px 0 0 #d6dae3;
    }

    & .submit-button{
        width: calc(100% - 80px);
        height: 50px;
        border-radius: 3px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ffffff;
        background-image: linear-gradient(97deg, #2f77d2, #008cff);
        padding-bottom: 10px;
        margin-top: 100px;
        margin-bottom: 10px;
        line-height: 50px;
    }

    & .default-text{
        text-align: center;
        display: block;
        margin-top: 15px;
    }
}
