<ion-header>
  <ion-navbar >
      <ion-buttons left>
          <button ion-button icon-only (click)="backModal()">
              <ion-icon name="arrow-back"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title>Atribuir ocorrência</ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content>
    <div class="modal-header">
        Selecione a quem deseja atribuir a ocorrência
    </div>
    <div class="modal-body">
      <table>
        <tr (click)="selectOperator(operator)" *ngFor="let operator of operators">
          <td>
            <div class="operator-initials" [style.background-color]="us.getUserColor(operator.text)">{{us.getInitials(operator.text)}}</div>
          </td>
          <td class="operator-name">
            {{operator.text}}
          </td>
          <td>
            <ion-radio disabled="true" [checked]="isSelected(operator)" ></ion-radio>
          </td>
        </tr>                                         
      </table>
    </div>
    <div class="modal-footer">
      <textarea class="operator-note" [(ngModel)]="operatorComment" placeHolder="Adicione uma nota para o operador..."></textarea>
      <button class="button-default" [disabled]="!selectedOperator" (click)="closeModal()">Atribuir</button>
      <button class="button-slim" (click)="backModal()">Cancelar</button>
    </div>
</ion-content>   