page-assignoperator {
    .modal-header{
        height: 70px;
        width: 100%;
        background-color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #1d1b1b;
        padding-top: 15px;
    }

    .modal-body{
        height: calc(100% - 240px);
        overflow-y: scroll;
        background-color: #ffffff;

        & table{
            overflow-y: scroll;
            width: 100%;
            // height: 100%;
            background-color: #ffffff;
            & tr{
                height: 50px;

                & td{
                    text-align: center;
                }

                & .operator-name{
                    font-family: Roboto;
                    font-size: 15px;
                    font-weight: 500;
                    text-align: left;
                    color: #1d1b1b;
                    height: 50px;
                    line-height: 50px;
                    vertical-align: middle;
                }

                & .operator-initials{
                    display: inline-block;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    font-family: Roboto;
                    font-size: 12px;
                    font-weight: bold;
                    text-align: center;
                    color: #ffffff;
                    line-height: 30px;
                    vertical-align: middle;
                }
            }
        }


        & table tr:nth-child(odd){
            background-color: #f8f8f8;
        }
    }
    .modal-footer{
        height: 170px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: #ffffff;
        text-align: center;
        padding-top: 10px;

        & .button-default{
            width: calc(100% - 80px);
            height: 50px;
            border-radius: 3px;
            background-color: #0080ff;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.5px;
            text-align: center;
            color: #ffffff;
            display: inline-block;
        }

        & .button-slim{
            margin-top: 10px;
            display: inline-block;
            width: calc(100% - 80px);
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            text-align: left;
            color: #868686;
            text-align: center;
            background: #ffffff;
        }

        & .button-default.activated{
            background-color:  #0080ff !important;
        }

        & .button-slim.activated{
            background-color:  #ffffff !important;
        }
    }
}

.radio-disabled{
    opacity: 1 !important;
}

.operator-note{
    height: 50px;
    margin-bottom: 10px;
    width: calc(100% - 80px);
    border-radius: 3px;
    background-color: #f8f8f8;
    border: solid 1px #ebebeb;
    resize: none;
    padding: 5px;
}