<ion-header>
    <ion-navbar hideBackButton>
      <ion-title class="occurrence-title">Nova intervenção</ion-title>
      <button ion-button menuToggle class="menu-button" end>
          <ion-icon name="menu" class="menu-button" #content></ion-icon>
        </button>
    </ion-navbar> 
  </ion-header>
  <ion-menu [content]="content"  side="right"  type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title class="menu-title">Menu</ion-title>
        <button ion-button menuToggle class="menu-close" end>
          <ion-icon name="close" menu-close></ion-icon>
        </button>
      </ion-toolbar>
    </ion-header>
    <ion-content class="menu-content">
      <ion-list>
        <ion-item ><ion-icon name="warning" class="menu-icon"></ion-icon> Ocorrências</ion-item>
        <ion-item-group submenu>
          <ion-item submenu-item (click)="navigateToList()" class="submenu" menu-close>Lista de ocorrências</ion-item>
          <ion-item submenu-item (click)="navigateToHistoric()"  class="submenu" menu-close>Histórico de ocorrências</ion-item>
          <ion-item submenu-item (click)="navigateToMap()" class="submenu" menu-close>Mapa de intervenções</ion-item>
        </ion-item-group>
        <ion-item class="current-area"  menu-close>
            <ion-icon name="add-circle" class="menu-icon"></ion-icon> Reportar ocorrência
        </ion-item>
      </ion-list>
      <ion-item class="logout-button" (click)="logout()">
          <div class="user-image" [style.background-color]="us.getUserColor(user.firstName+' '+user.lastName)">{{us.getInitials(user.firstName+' '+user.lastName)}}</div>
          <div class="user-name">{{user.firstName}} {{user.lastName}}</div>
          <div class="logout-text">Terminar sessão</div>
      </ion-item> 
    </ion-content>
  </ion-menu>
  
  
  <ion-content padding>
  <form [formGroup]="occurrence" role="form" (ngSubmit)="logForm($event, occurrence.value)" *ngIf="!reportFailed && !reportSuccess">
      <div class="form-group">
        <ion-label class="input-label">Localidade</ion-label>
        <ion-select item-left  name="locality" [selectedText]="locality" placeholder="Selecione a localidade" [selectOptions]="{title:'Selecione a localidade'}" (ionChange)="selectOnChange($event)"  role="form" formControlName="location">
          <div *ngFor="let locality of localities">
            <ion-option value="{{locality.locality}}">{{locality.locality}}</ion-option>
          </div>
        </ion-select>
      </div>
      <div class="form-group">
        <ion-label class="input-label">Morada</ion-label>
        <ion-input type="text" class="form-control input-area" placeholder="Insira a morada" formControlName="address" role="form" novalidate=""></ion-input>
      </div>
      <div class="form-group">
        <ion-label class="input-label">Tipo de ocorrência</ion-label>
        <ion-select item-left  name="type" [selectedText]="type" placeholder="Selecione o tipo de ocorrência" [selectOptions]="{title:'Selecione o tipo de ocorrência'}" role="form" formControlName="type">
            <div *ngFor="let type of types">
              <ion-option value="{{type.id}}">{{type.text}}</ion-option>
            </div>
          </ion-select>
      </div>
      <div class="form-group">
        <ion-label class="input-label">Operador</ion-label>
        <ion-select item-left  name="operator" [selectedText]="operator" placeholder="Selecione o operador" [selectOptions]="{title:'Selecione o operador'}" role="form" formControlName="operator">
            <div *ngFor="let operator of operators">
              <ion-option value="{{operator.id}}">{{operator.text}}</ion-option>
            </div>
          </ion-select>
      </div>
      <div class="form-group">
        <ion-label class="input-label">Estado da ocorrência</ion-label>
        <ion-select item-left  name="state" [selectedText]="state" placeholder="Selecione o estado" [selectOptions]="{title:'Selecione o estado'}" role="form" formControlName="state">
            <div *ngFor="let state of states">
              <ion-option value="{{state.id}}">{{state.text}}</ion-option>
            </div>
          </ion-select>
      </div>
      <div class="form-group">
        <label class="input-label">Description</label>
        <textarea formControlName="description" role="form" novalidate="" class="report-description form-control" placeholder="Descreva a ocorrência que deseja reportar…"></textarea>
      </div>
      <div class="form-group"> 
          <ion-label class="input-label">Anexar fotografia</ion-label>
          <button class="upload-button" type="button" (click)="fileUpload()"><span *ngIf="!base64Image">+ Adicionar</span><span *ngIf="base64Image">+ Alterar</span></button>
          <ion-input type="hidden" style="display:none;" role="form" formControlName="file"></ion-input>
        </div>
      <button class="submit-button" type="submit" [disabled]="!occurrence.valid || uploading"><span *ngIf="uploading">A enviar...</span><span  *ngIf="!uploading">Enviar</span></button>
    </form>
    <div class="cover" *ngIf="reportSuccess">
      <div class="cover-elements-wrapper">
        <img class="cover-icon" src="assets/imgs/success.png" />
        <div class="cover-title">Intervenção Adicionada com sucesso</div>
        <button class="cover-button" type="button" (click)="navigateToMap()">Ir para mapa de ocorrências</button>
      </div>
    </div>
    <div class="cover" *ngIf="reportFailed">
      <div class="cover-elements-wrapper">
        <img src="assets/imgs/error.png" />
        <div class="cover-title">Reporte falhou</div>
        <div class="cover-subtitle">A morada indicada não existe.</div>
        <button class="cover-button" type="button" (click)="dismissCover()">Ok</button>    
      </div>  
    </div>
  </ion-content>