page-report {
    .submenu{
        padding-left: 36px;
    }
    .form-group{
        margin-bottom: 14px;
        & label{
            display: block;
            margin-bottom: 8px;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.5px;
            text-align: left;
            color: #212121;
        }

        textarea{
            height: 130px !important;
            resize: none;
            padding-top: 12px;
           // padding: 10px;
        }

        ion-input{
            height: 35px;
        }
        & .form-control{
            width: 100%;
            height: 40px;
            border-radius: 3px;
            background-color: #ffffff;
            border: solid 1px #e3e1e1;
            // padding-right: 10px;
            padding-left: 10px;
        }

        & .upload-button{
            width: 100%;
            height: 40px;
            border-radius: 3px;
            background-color: #ffffff;
            border: solid 1px #e3e1e1;
            font-family: Roboto;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: 0.5px;
            text-align: left;
            color: #b4b4b4;
        }

        & .input-area{
            height: 35px;
        }
    }
    .submit-button{
        width: 100%;
        height: 49px;
        border-radius: 4px;
        background-color: #0080ff;
        font-family: Roboto;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ffffff;
        margin-bottom: 10px;
    }

    .select{
        max-width: 100%;
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 1px #e3e1e1;
    }

    .select-wp{
        margin: 0;
        height: 42px;
        line-height: 42px;
    } 

    .select-md{
        padding: 8px 8px 5px 16px;
    }
    .text-input-md{
        margin: 8px; 
    }
}


.text-input{
    margin-left: 5px !important;
}