<ion-header>
    <ion-navbar >
      <ion-title>Ocorrência</ion-title>
    </ion-navbar>
  </ion-header>
    
  <ion-content> 
    <div class="navbar-header">
      <div class="navbar-item" [ngClass]="{'selected-navbar-item' : occurrenceView}" (click)="displayOccurrence()">Detalhes da ocorrência</div>
      <div class="navbar-item" [ngClass]="{'selected-navbar-item' : !occurrenceView}" (click)="displayIntervention()">Intervenção</div>
    </div>
    <div class="occurrence-wrapper" *ngIf="occurrenceView">
      <div class="occurrence-box">
        <div class="title" *ngIf="occurrence.state >= 0">Estado da ocorrência:</div>
        <ion-select item-left  name="state" [(ngModel)]="occurrence.state"[selectedText]="text" placeholder="" [selectOptions]="{title:'Selecionar estado'}" (ionChange)="stateOnChange($event)" role="form" *ngIf="occurrence.state >= 0">
          <div *ngFor="let state of states">
            <ion-option value="{{state.id}}">{{state.text}}</ion-option>
          </div>
        </ion-select>
        <div class="title" *ngIf="occurrence.state < 0" (click)="recoverOccurrence()">
          Ocorrência <span *ngIf="occurrence.state == -1">duplicada</span><span *ngIf="occurrence.state == -2">ignorada</span>, pressione aqui para a recuperar.
        </div>
      </div>
      <div class="occurrence-box" id="operatorSelection" (click)="openOperatorModal()">
        <div class="title">Ocorrência atribuída a:</div>
        <div class="no-operator" *ngIf="!occurrence.owner">+ Atribuir operador</div>
        <div class="operator" *ngIf="occurrence.owner">
            <div class="operator-initials" [style.background-color]="us.getUserColor(occurrence.ownerName)" >{{us.getInitials(occurrence.ownerName)}}</div> {{occurrence.ownerName}}
        </div>
      </div>
      <div class="occurrence-box">
        <div class="occurrence">Ocorrência</div><div class="occurrence-id">#{{op.getReadableId(occurrence.key)}}</div>
        <div class="details">Tipo: {{op.getReadableType(occurrence.type)}}</div>
        <div class="details">Criador: {{occurrence.createdByName}}</div>
        <div class="details">Data: {{occurrence.createdDate | date: 'dd-MM-yyyy'}}</div>
        <div class="title title-margin" *ngIf="occurrence.operatorComment">Comentário para o operador:</div>
        {{occurrence.operatorComment}}
        <div class="title title-margin">Mensagem</div>
        {{occurrence.description}}
        <div class="title title-margin" *ngIf="occurrence.media && occurrence.mediaType == 1">Foto</div>
        <img src="{{occurrence.media}}" *ngIf="occurrence.media && occurrence.mediaType == 1" />
        <div class="title title-margin">Localização</div>
        <div class="occurrence-map-wrapper">
            <agm-map [latitude]="stringToNumber(occurrence.location.lat)" [longitude]="stringToNumber(occurrence.location.lng)" [streetViewControl]="false" [zoomControl]="false" [zoom]="14" [styles]="customStyle">
                <agm-marker [latitude]="stringToNumber(occurrence.location.lat)" [longitude]="stringToNumber(occurrence.location.lng)">
                </agm-marker>
            </agm-map>
        </div>
      </div>
      <div class="occurrence-box duplicate" (click)="openDuplicateModal()" *ngIf="occurrence.state >= 0">
        <img src="assets/imgs/duplicate-occurrence.svg" /> Duplicada
      </div>
      <div class="occurrence-box ignore" (click)="openIgnoreModal()" *ngIf="occurrence.state >= 0">
          <ion-icon name="close-circle" class="ignore-icon"></ion-icon>Ignorar
      </div>
    </div>

    <div class="occurrence-wrapper" *ngIf="!occurrenceView">
      <div class="occurrence-box" *ngIf="occurrence.public" (click)="changeVisilibity(false)">
        <div class="title">Intervenção pública, tornar não pública.</div>
      </div>
      <div class="occurrence-box" *ngIf="!occurrence.public" (click)="changeVisilibity(true)">
        <div class="title">Intervenção não pública, tornar pública.</div>
      </div>
      <div class="occurrence-box" *ngIf="!occurrence.intervention">
        <div class="title">Finalizar ocorrência:</div>
        <textarea class="intervention-comment" [(ngModel)]="interventionNote" placeHolder="Adicione um comentário...">

        </textarea>
        <button class="intervention-button" (click)="addInterventionNote()" [disabled]="!interventionNote" type="button">Finalizar</button>
      </div>
      <div class="occurrence-box" *ngIf="occurrence.intervention">
          <div class="title">Nota de intervenção:</div>
          {{occurrence.intervention.note}}
        </div>
      <div class="occurrence-box">
        <div class="title">Foto antes:</div>
        <img src="{{occurrence.beforePic}}" *ngIf="occurrence.beforePic"/>
        <button class="intervention-button" type="button" *ngIf="!occurrence.beforePic" (click)="addPic(false)">Adicionar</button>
        <button class="intervention-button" type="button" *ngIf="occurrence.beforePic" (click)="removePic(false)">Remover</button>
      </div>
      <div class="occurrence-box">
        <div class="title">Foto depois:</div>
        <img src="{{occurrence.afterPic}}" *ngIf="occurrence.afterPic"/>
        <button class="intervention-button" type="button" *ngIf="!occurrence.afterPic" (click)="addPic(true)">Adicionar</button>
        <button class="intervention-button" type="button" *ngIf="occurrence.afterPic" (click)="removePic(true)">Remover</button>
      </div>
    </div>
  </ion-content>   