page-occurrence {
    .navbar-header{
        height: 60px;
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
        background-color: #ffffff;

        & .navbar-item{
            height: 60px;
            width: calc(50% - 30px);
            display: inline-block;
            font-family: Roboto;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 0.6px;
            text-align: center;
            color: #212121;
            line-height: 60px;
            margin-left: 15px;
            opacity: 0.39;
        }

        & .selected-navbar-item{
            border-bottom: 2px solid;
            color: #0080ff;
            opacity: 1;
        }
    }

    .occurrence-wrapper{
        height: calc(100% - 60px);
        overflow-y: scroll;
        text-align: center;

        & .occurrence-box{
            display: inline-block;
            width: calc(100% - 40px);
            margin-top: 20px;
            border-radius: 8px;
            background-color: #ffffff;
            border: solid 1px #e3e1e1;
            padding: 10px;
            text-align: left; 

            & .title{
                font-size: 12px;
                font-weight: 500;
                letter-spacing: 0.5px;
                text-align: left;
                color: #9a9a9a;
            }

            & .title-margin{
                margin-top: 15px;
            }

            & .details{
                font-size: 13px;
                line-height: 1.38;
                text-align: left;
                color: #5d6164;
            }

            & .message{
                font-size: 14px;
                line-height: 1.29;
                text-align: left;
                color: #1d1b1b;
            }

            & .occurrence{
                font-size: 15px;
                font-weight: 500;
                text-align: left;
                color: #163850;
                display: inline-block;
                margin-bottom: 15px;
            }

            & .occurrence-id{
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 0.5px;
                text-align: left;
                color: #9a9a9a;
                display: inline-block;
            }

            & .occurrence-map-wrapper{
                height: 150px;
                overflow-y: hidden;
                margin-top: 10px;
                border-radius: 5px;
                & agm-map{
                    height: calc(100% + 20px);
                }
            }

            & img{
                border-radius: 5px;
                margin-top: 5px;
            }
        }
        & .duplicate{
            text-align: center !important;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            text-align: left;
            color: #868686;
        }
        & .ignore{
            text-align: center !important;
            font-size: 14px;
            font-weight: 500;
            text-align: left;
            color: #e73e51;
            margin-bottom: 15px;
        }

        & .operator{
            margin-top: 5px;

            & .operator-initials{
                border-radius: 50%;
                height: 20px;
                width: 20px;
                line-height: 20px;
                vertical-align: middle;
                text-align: center;
                display: inline-block;
                color: #FFFFFF;
                font-size: 11px;
            }
        }

        & .no-operator{
            margin-top: 5px;
            color: #0080ff; 
        }
    }
    
    ion-select{
        max-width: 100%;
        padding-left: 0 !important;
        padding-bottom: 0 !important;
    }

    .intervention-button{
        border-radius: 3px;
        height: 40px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ffffff;
        background-color: #0080ff;
        margin-top: 5px;
    }

    .intervention-comment{
        height: 150px;
        width: 100%;
        padding: 5px;
        border-radius: 3px;
        background-color: #f8f8f8;
        border: solid 1px #ebebeb;
        resize: none;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}