<ion-header>
  <ion-navbar >
      <ion-buttons left>
          <button ion-button icon-only (click)="backModal()">
              <ion-icon name="arrow-back"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title>Ocorrência duplicada</ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content>
  <div class="modal-header">
      Selecione a ocorrência que deseja associar a ocorrência duplicada:
  </div>
  <div class="modal-body">
    <div class="occurrence-card" *ngFor="let occurrence of occurrences" (click)="selectOccurrence(occurrence)">
        Ocorrência <div class="occurrence-id">#{{op.getReadableId(occurrence.key)}}</div>
        <div class="occurrence-detail">Tipo: {{op.getReadableType(occurrence.type)}}</div>
        <div class="occurrence-detail">Criador: {{occurrence.createdByName}}</div>
        <div class="occurrence-detail">Data: {{occurrence.createdDate | date: 'dd-MM-yyyy'}}</div>
        <div class="occurrence-operator" *ngIf="occurrence.owner">
          <div class="operator-initials" [style.background-color]="us.getUserColor(occurrence.ownerName)">{{us.getInitials(occurrence.ownerName)}}</div>
          <div class="operator-name">{{occurrence.ownerName}}</div>
        </div>
        <div class="occurrence-operator" *ngIf="!occurrence.owner">
            <div class="operator-name">Sem operador atribuído</div>
          </div>
        <ion-radio class="occurrence-radio" disabled="true" [checked]="isSelected(occurrence)"></ion-radio>
    </div>      
  </div>
  <div class="modal-footer">
    <button class="button-default" [disabled]="!selectedOccurrence" (click)="closeModal()">Marcar como duplicada</button>
    <button class="button-slim" (click)="backModal()">Cancelar</button>
  </div>
</ion-content>   