page-duplicatemodal {
    .modal-header{
        height: 70px;
        width: 100%;
        background-color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #1d1b1b;
        padding-top: 15px;
    }

    .modal-body{
        height: calc(100% - 170px);
        overflow-y: scroll;
        
        & .occurrence-card{
            background-color: #fcfcfc;
            height: 140px;
            box-shadow: inset 0 -1px 0 0 #e2e2e2;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 500;
            text-align: left;
            color: #163850;
            padding: 15px 20px;

            & .occurrence-id{
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 0.5px;
                text-align: left;
                color: #9a9a9a;
                display: inline-block;
            }

            & .occurrence-detail{
                font-size: 13px;
                line-height: 1.38;
                text-align: left;
                color: #6c6c6c;
                margin-top: 5px;
            }

            & .occurrence-link{
                font-size: 14px;
                text-align: left;
                color: #354052;
                margin-top: 5px;
            }

            & .occurrence-operator{
                margin-top: 10px;

                & .operator-initials{
                    border-radius: 50%;
                    height: 20px;
                    width: 20px;
                    line-height: 20px;
                    vertical-align: middle;
                    font-family: Roboto;
                    font-size: 9px;
                    font-weight: 500;
                    text-align: center;
                    color: #ffffff;
                    display: inline-block;
                }

                & .operator-name{
                    font-family: Roboto;
                    font-size: 14px;
                    text-align: left;
                    color: #354052;
                    display: inline-block;
                }
            }

            & .occurrence-radio{
                position: relative;
                top: -65px;
                left: calc(100% - 20px);
            }
        }
    }


    .modal-footer{
        height: 100px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: #ffffff;
        box-shadow: inset 0 1px 0 0 rgba(215, 215, 215, 0.5);
        text-align: center;
        padding-top: 10px;

        & .button-default{
            width: calc(100% - 80px);
            height: 50px;
            border-radius: 3px;
            background-color: #0080ff;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.5px;
            text-align: center;
            color: #ffffff;
            display: inline-block;
        }

        & .button-slim{
            margin-top: 10px;
            display: inline-block;
            width: calc(100% - 80px);
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            text-align: left;
            color: #868686;
            text-align: center;
            background-color:  #ffffff;
        }

        & .button-default.activated{
            background-color:  #0080ff !important;
        }

        & .button-slim.activated{
            background-color:  #ffffff !important;
        }
    }
}
