<ion-header>
  <ion-navbar hideBackButton>
    <ion-title class="occurrence-title">Ocorrências</ion-title>
    <button ion-button menuToggle class="menu-button" end>
        <ion-icon name="menu" class="menu-button" #content></ion-icon>
      </button>
  </ion-navbar> 
</ion-header>
<ion-menu [content]="content"  side="right"  type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title class="menu-title">Menu</ion-title>
      <button ion-button menuToggle class="menu-close" end>
        <ion-icon name="close" menu-close></ion-icon>
      </button>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-content">
    <ion-list>
      <ion-item class="current-area"><ion-icon name="warning" class="menu-icon"></ion-icon> Ocorrências</ion-item>
      <ion-item-group submenu class="current-area">
        <ion-item submenu-item class="submenu submenu-current" menu-close>Lista de ocorrências</ion-item>
        <ion-item submenu-item (click)="navigateToHistoric()"  class="submenu" menu-close>Histórico de ocorrências</ion-item>
        <ion-item submenu-item (click)="navigateToMap()" class="submenu" menu-close>Mapa de intervenções</ion-item>
      </ion-item-group>
      <ion-item (click)="navigateToReport()" menu-close>
          <ion-icon name="add-circle" class="menu-icon"></ion-icon> Reportar ocorrência
      </ion-item>
    </ion-list>
    <ion-item class="logout-button" (click)="logout()">
        <div class="user-image" [style.background-color]="us.getUserColor(user.firstName+' '+user.lastName)">{{us.getInitials(user.firstName+' '+user.lastName)}}</div>
        <div class="user-name">{{user.firstName}} {{user.lastName}}</div>
        <div class="logout-text">Terminar sessão</div>
    </ion-item> 
  </ion-content>
</ion-menu>


<ion-content>
  <div class="navbar-header">
    <div class="navbar-item" [ngClass]="{'selected-navbar-item' : selectedState == 0}" (click)="setList(0)">Por resolver</div>
    <div class="navbar-item" [ngClass]="{'selected-navbar-item' : selectedState == 1}" (click)="setList(1)">Atribuída para resolução</div>
    <div class="navbar-item" [ngClass]="{'selected-navbar-item' : selectedState == 2}" (click)="setList(2)">Aguarda validação</div>
    <div class="navbar-item" [ngClass]="{'selected-navbar-item' : selectedState == 3}" (click)="setList(3)">Resolvida</div>
  </div>
  <div class="occurrence-list">
    <div class="loading-notice" *ngIf="!occurrencesOnDisplay">
      A carregar ocorrências...
    </div>
    <div class="occurrence-card" *ngFor="let occurrence of occurrencesOnDisplay" (click)="navigateToOccurrence(occurrence)">
      Ocorrência <div class="occurrence-id">#{{getReadableId(occurrence.key)}}</div>
      <div class="occurrence-detail">Tipo: {{getReadableType(occurrence.type)}}</div>
      <div class="occurrence-detail">Criador: {{occurrence.createdByName}}</div>
      <div class="occurrence-detail">Data: {{occurrence.createdDate | date: 'dd-MM-yyyy'}}</div>
      <div class="occurrence-link">Ver ocorrência</div>
    </div>
  </div>
</ion-content>