page-occurrenceslist {
    .navbar-header{
        height: 60px;
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
        background-color: #ffffff;

        & .navbar-item{
            height: 60px;
            display: inline-block;
            font-family: Roboto;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 0.6px;
            text-align: center;
            color: #212121;
            line-height: 60px;
            margin-left: 15px;
            opacity: 0.39;
        }

        & .selected-navbar-item{
            border-bottom: 2px solid;
            color: #0080ff;
            opacity: 1;
        }
    }

    .occurrence-list{
        width: 100%;
        height: calc(100% - 60px);
        overflow-y: scroll;
        background-color: #ffffff;
        border-top:1px solid #e2e2e2;

        & .occurrence-card{
            height: 132px;
            background-color: #fcfcfc;
            box-shadow: inset 0 -1px 0 0 #e2e2e2;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 500;
            text-align: left;
            color: #163850;
            padding: 15px 20px;

            & .occurrence-id{
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 0.5px;
                text-align: left;
                color: #9a9a9a;
                display: inline-block;
            }

            & .occurrence-detail{
                font-size: 13px;
                line-height: 1.38;
                text-align: left;
                color: #6c6c6c;
                margin-top: 5px;
            }

            & .occurrence-link{
                font-size: 14px;
                text-align: left;
                color: #354052;
                margin-top: 5px;
            }
        }
        // & .occurrence-card:first-child{
        //     border-top:1px solid #e2e2e2;
        // }
    }


}

.navbar-header{
    padding-right: 15px;
}

.loading-notice{
    text-align: center;
    margin-top: 50px;
}