page-historic {
    table{
        width: 100%;
        & thead{
            background-color: #ededed;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            color: #031d3e;
            & tr{
                height: 50px;
                box-shadow: inset 0 -1px 0 0 #d8d8d8;
            }
        }

        & tbody{
            height: calc(100% - 50px);
            overflow-y: scroll;
            & tr{
                font-size: 13px;
                text-align: center;
                color: #031d3e;
                height: 50px;
                background-color: #fcfcfc;
                box-shadow: inset 0 -1px 0 0 #d8d8d8;
            }
        }

        & tbody tr:nth-child(odd){
            background-color: #ffffff;
        }
    }
}
