<ion-header>
  <ion-navbar hideBackButton>
    <ion-title class="occurrence-title">Histórico de ocorrências</ion-title>
    <button ion-button menuToggle class="menu-button" end>
        <ion-icon name="menu" class="menu-button" #content></ion-icon>
      </button>
  </ion-navbar> 
</ion-header>
<ion-menu [content]="content"  side="right"  type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title class="menu-title">Menu</ion-title>
      <button ion-button menuToggle class="menu-close" end>
        <ion-icon name="close" menu-close></ion-icon>
      </button>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-content"> 
    <ion-list>
      <ion-item class="current-area"><ion-icon name="warning" class="menu-icon"></ion-icon> Ocorrências</ion-item>
      <ion-item-group submenu class="current-area">
        <ion-item submenu-item (click)="navigateToList()" class="submenu" menu-close>Lista de ocorrências</ion-item>
        <ion-item submenu-item class="submenu submenu-current" menu-close>Histórico de ocorrências</ion-item>
        <ion-item submenu-item (click)="navigateToMap()"class="submenu" menu-close>Mapa de intervenções</ion-item>
      </ion-item-group>
      <ion-item (click)="navigateToReport()" menu-close>
          <ion-icon name="add-circle" class="menu-icon"></ion-icon> Reportar ocorrência
      </ion-item>
    </ion-list>
    <ion-item class="logout-button" (click)="logout()">
        <div class="user-image" [style.background-color]="us.getUserColor(user.firstName+' '+user.lastName)">{{us.getInitials(user.firstName+' '+user.lastName)}}</div>
        <div class="user-name">{{user.firstName}} {{user.lastName}}</div>
        <div class="logout-text">Terminar sessão</div>
    </ion-item> 
  </ion-content>
</ion-menu>


<ion-content>
  <table>
    <thead>
      <tr>
        <th>Ocorrência</th>
        <th>Tipo</th> 
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let occurrence of occurrences" (click)="navigateToOccurrence(occurrence)">
        <td>#{{op.getReadableId(occurrence.key)}}</td>
        <td>{{op.getReadableType(occurrence.type)}}</td> 
        <td [style.color]="op.getStateColor(occurrence.state)">{{op.getReadableState(occurrence.state)}}</td>
      </tr>
    </tbody>
  </table>
</ion-content>