<ion-header>
  <ion-navbar >
      <ion-buttons left>
          <button ion-button icon-only (click)="backModal()">
              <ion-icon name="arrow-back"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title>Gerir ocorrência</ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content>
    <div class="modal-header">
        Tem a certeza que deseja ignorar a ocorrência #{{op.getReadableId(occurrenceId)}}?
    </div>
    <div class="modal-body">
        <textarea class="ignore-comment" [(ngModel)]="ignoreComment" placeHolder="Adicione a razão para ignorar a ocorrência..."></textarea>
    </div>
    <div class="modal-footer">
      <button class="button-default"  [disabled]="!ignoreComment" (click)="closeModal()">Ignorar</button>
      <button class="button-slim" (click)="backModal()">Cancelar</button>
    </div>
</ion-content>   