page-ignoremodal {
    .modal-header{
        height: 70px;
        width: 100%;
        background-color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #1d1b1b;
        padding-top: 15px;
    }

    .modal-body{
        height: calc(100% - 170px);
        overflow-y: scroll;
        background-color: #ffffff;

        & .ignore-comment{
            height: 150px;
            width: calc(100% - 40px);
            margin-left: 20px;
            padding: 5px;
            border-radius: 3px;
            background-color: #f8f8f8;
            border: solid 1px #ebebeb;
            resize: none;
        }
    }
    .modal-footer{
        height: 100px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: #ffffff;
        box-shadow: inset 0 1px 0 0 rgba(215, 215, 215, 0.5);
        text-align: center;
        padding-top: 10px;

        & .button-default{
            width: calc(100% - 80px);
            height: 50px;
            border-radius: 3px;
            background-color: #e73e51;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.5px;
            text-align: center;
            color: #ffffff;
            display: inline-block;
        }

        & .button-slim{
            margin-top: 10px;
            display: inline-block;
            width: calc(100% - 80px);
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            text-align: left;
            color: #868686;
            background-color:  #ffffff;
            text-align: center;
        }

        & .button-default.activated{
            background-color:  #e73e51 !important;
        }

        & .button-slim.activated{
            background-color:  #ffffff !important;
        }


    }
}
