<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <div class="home-page">
    <img class="cmb-logo" src="assets/imgs/nabia-ocorrencias-logo-branco.png"/><div class="logo-title">- Espaço Público</div>
    <div class="home-title">
      Bem vindo à plataforma de gestão de ocorrências
    </div>
    <div class="home-divider"></div>
    <div class="home-subtitle">
      A sua plataforma capaz de gerir todas as ocorrências.
    </div>
    <button class="report-button" (click)="navigateToLogin()">Iniciar Sessão</button> 
  </div>
</ion-content>
