page-home {

    & .scroll-content{
        overflow-y: hidden;
    }
    
    .home-page{
        width: 100%;
        height: 100%;
        background-image: url('../assets/imgs/colab-background.jpg');
        background-position: 50%;
        font-family: Roboto;
        text-align: left;
        color: #ffffff;
        font-weight: 500;
        letter-spacing: 0.5px;

        & .cmb-logo{
            // width: 160px;
            height: 82px;
            margin-top: 73%;
            margin-left: 20px;
            margin-bottom: -30px;
        }

        & .logo-title{
            display: inline-block;
            font-size: 25px;
            margin-bottom: 30px;
            margin-left: 10px;
        }

        & .home-title{
            font-size: 23px;
            margin-left: 20px;
            margin-top: 15px;
        }

        & .home-divider{
            width: 40px;
            height: 2px;
            border: solid 1px #ffffff;
            margin-left: 20px;
            margin-top: 10px;
        }

        & .home-subtitle{
            opacity: 0.8;
            font-size: 13px;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 10px;
        }

        & .report-button{
            width: calc(100% - 40px);
            height: 49px;
            border-radius: 4px;
            background-color: #0080ff;
            margin-left: 20px;
            margin-top: 30px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            color: #ffffff;
        }

    }


}
