page-map {
    .map-wrapper{
        height: calc(100% - 42px);
        overflow-y: hidden;
    }
    .map-home{
        width: 100%;
        height: calc(100% + 20px);
    }

    // .toolbar-title-md{
    //     padding-left: 0;
    //     padding-right: 20px;
    // }

    .bar-button-default{
        color: white;
    }

    .confirm-button{
        width: calc(100% - 40px);
        height: 49px;
        border-radius: 4px;
        background-color: #0080ff;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        position: absolute;
        bottom: 15px;
        // right: calc(50% - 75px )
        margin-left: 20px;
    }

    .activated {
        background-color: #0080ff !important; 
    }

    .locality-search{
        & ion-select{
            max-width: 100%;
        }

        & .select-wp {
            border: none;
            height: 42px;
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 5px;
        }
        & .select-ios{
            height: 42px;
        }
        & .select-icon{
            display: none;
        }
    }
    #map {
        height: 100%;
    }
}


ion-app.gmaps_cdv .nav-decor{
    display: none !important;
 }