<!--
  Generated template for the MapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <ion-title class="occurrence-title">Mapa de intervencões</ion-title>
    <button ion-button menuToggle class="menu-button" end>
        <ion-icon name="menu" class="menu-button" #content></ion-icon>
      </button>
  </ion-navbar> 
</ion-header>
<ion-menu [content]="content"  side="right"  type="overlay"> 
  <ion-header>
    <ion-toolbar>
      <ion-title class="menu-title">Menu</ion-title>
      <button ion-button menuToggle class="menu-close" end>
        <ion-icon name="close" menu-close></ion-icon>
      </button>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-content">
    <ion-list>
      <ion-item class="current-area"><ion-icon name="warning" class="menu-icon"></ion-icon> Ocorrências</ion-item>
      <ion-item-group submenu class="current-area">
        <ion-item submenu-item (click)="navigateToList()" class="submenu" menu-close>Lista de ocorrências</ion-item>
        <ion-item submenu-item (click)="navigateToHistoric()"   class="submenu" menu-close>Histórico de ocorrências</ion-item>
        <ion-item submenu-item class="submenu submenu-current" menu-close>Mapa de intervenções</ion-item>
      </ion-item-group>
      <ion-item (click)="navigateToReport()" menu-close>
          <ion-icon name="add-circle" class="menu-icon"></ion-icon> Reportar ocorrência
      </ion-item>
    </ion-list>
    <ion-item class="logout-button" (click)="logout()">
        <div class="user-image" [style.background-color]="us.getUserColor(user.firstName+' '+user.lastName)">{{us.getInitials(user.firstName+' '+user.lastName)}}</div>
        <div class="user-name">{{user.firstName}} {{user.lastName}}</div>
        <div class="logout-text">Terminar sessão</div>
    </ion-item> 
  </ion-content>
</ion-menu>


<ion-content>
<div class="locality-search">
  <ion-select item-left  name="locality" [selectedText]="locality" placeholder="Selecione a localidade" [selectOptions]="{title:'Selecione a localidade'}" (ionChange)="selectOnChange($event)">
    <div *ngFor="let locality of localities">
      <ion-option value="{{locality.locality}}">{{locality.locality}}</ion-option>
    </div>
  </ion-select>
</div>
<div class="map-wrapper" data-tap-disabled="true">
  <agm-map [latitude]="lat" [longitude]="lng" class="map-home"  [zoomControl]="false" [zoom]="14" [styles]="customStyle" [streetViewControl]="false" data-tap-disabled="true">
    <div *ngFor="let occurrence of occurrences" data-tap-disabled="true">
        <agm-marker [latitude]="occurrence.location.lat" [longitude]="occurrence.location.lng" [markerDraggable]="false"  (markerClick)="navigateToOccurrence(occurrence)">
        </agm-marker>
    </div> 
  </agm-map>
  <button (click)="navigateToReport()" class="confirm-button">Nova intervenção</button>
</div>
</ion-content>
