// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.menu-button{
    display: block !important;
}

.toolbar-background {
    background-color: #122c4b;
}

.toolbar{
    text-align: center;
}



.toolbar-title-md{
    font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
    color: #FFFFFF;
    //padding-left: 34px;
}

.title-ios{
    float: left;
    padding-left: 0;
    text-align: left;
    padding-left: 15px;
}
.toolbar-title-ios{
    font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
    color: #FFFFFF;
    // text-align: left;
}



.toolbar-title-wp{
    font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
    color: #FFFFFF;
    text-transform: none;
}

.menu-button{
    & .button-inner{
        color: #FFFFFF;
    }
}

.bar-button-menu-toggle{
    background-color: #122c4b;
}

.bar-button{
    color: white;
}

.content{
    background-color: #f8f8f8;
}

.item-cover {
    width: 0;
    height: 0;
}

.menu-title{
    float:left;
    padding-left: 0;

    & .toolbar-title-ios{
        text-align: left;
    }
}

.menu-title.title-ios{
    padding-left: 15px !important;
}

.menu-content{
    background-color: #122c4b;
}

.header-md:after{
    background-image: none;
}

.menu-close{
    float: right;
    margin-right: 10px;
    color: #FFFFFF;
    font-weight: bold;
}


.current-area{
    background-color: #132e4f !important;
    padding-left: 11px;
    color: #FFFFFF;
    border-left: solid 4px #0080ff !important;
}

.item-block{
    background-color: #122c4b;
    color: #FFFFFF;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 500;
	line-height: 1.38;
	text-align: left;
    & .item-inner{
        border-bottom: none !important;
    }
}

.activated{
    background-color: #132e4f !important;  
}
.menu-icon{
    margin-right: 5px;
}


ion-app.wp.scroll-content{
    padding-top: 0;
}

.scroll-content{
    padding-bottom: 0 !important;
}

.list-ios > .item-block:last-child{
    border: none;
}

.header-ios .toolbar-background-ios{
    border-style:none;
}

.logout-button{
    position: absolute;
    bottom: 0;
	height: 80px;
    background-color: #0c2746;
    font-family: Roboto;

    .user-image{
        width: 42px;
        height: 42px;
        border-radius: 50%;
        line-height: 42px;
        text-align: center;
        font-size: 20px;
    }

    .user-name{
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        color: #ffffff;
        position: absolute;
        bottom: 42px;
        left: 72px;
    } 

    .logout-text{
        opacity: 0.8;
        font-size: 13px;
        text-align: left;
        color: #d9d9d9;
        position: absolute;
        bottom: 22px;
        left: 72px;
    }
}

.default-text{
    font-family: Roboto;
    font-size: 14px;
    text-align: left;
    font-weight: normal;
    color: #a6a6a6;
    display: inline-block;
}

.clickable-text{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #212125;
    cursor: pointer;
    display: inline-block;
}

.text-danger{
    color: red;
}

.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #FFFFFF;
    left: 0;
    text-align: center;
    padding-top: 50%;

        & .cover-icon{
            height: 80px;
            width: 80px;
            margin-bottom: 15px;
        }

        & .cover-title{
            font-size: 18px;
            font-weight: 500;
            color: #163850;
            margin-bottom: 15px;
        }

        & .cover-subtitle{
            opacity: 0.55;
            font-size: 14px;
            color: #383535;
            margin-bottom: 15px; 
        }

        & .cover-button{
            height: 49px;
            border-radius: 4px;
            background-color: #0080ff;
            width: calc( 100% - 70px); 
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0.5px;
            color: #ffffff;
        }
}


.submenu{
    background-color: inherit;
    font-weight: 300;
    padding-left: 25px;
}

.submenu-current{
    font-weight: bold;
}

ion-item{
    cursor: pointer;
}

.ignore-icon{
    color: #e73e51;
    margin-right: 5px;
}

.back-button-text{
    display: none;
}

.scroll-content::before {
     bottom: 0;
}